header {
  display: flex;
  justify-content: space-between;
}

body {
  background: #e5e5e5;
  font-family: "Avenir";
}

.brand-image {
  margin-top: -70px;
}

.product-image {
  width: 100%;
  height: 620px;
}

.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 23.86px;
  color: #182754;
}
